/* http://colloquet.github.io */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #333;
}

[v-cloak] {
  display: none;
}

main {
  max-width: 768px;
  margin: 0 auto;
  padding: 20px;
}

.name {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 200;
}

a {
  color: #0088cc;
}

.job-title {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
  margin-bottom: 15px;
}

.uk-overlay {
  box-shadow: 0 1px 4px rgba(0,0,0,0.15);
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 5px 11px rgba(0,0,0,0.6);
  }
}

hr {
  width: 30px;
}

.project-list {
  margin-top: -25px;
  margin-bottom: 25px;
}

.project {
  display: block;
  position: relative;
  flex: 1;
  flex-basis: 50%;
  margin: 10px;
}

.project-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.uk-overlay {
  cursor: pointer;
}

.uk-overlay-panel {
  background: linear-gradient(to top, #2b2b2b, rgba(43,43,43,0) 90%);
  padding: 30px 10px 10px;

  h3 {
    font-weight: 300;
  }
}

#fullscreen-project-overlay {
  /*display: none;*/
  position: fixed;
  background: #3a4b60;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #f3f3f3;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 9;

  &:after {
    content: '';
    position: fixed;
    background: linear-gradient(to top, #3a4b60, rgba(58,75,96,0) 90%);
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: 1;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .project-details-container {
    padding: 100px 25px 25px;
    margin: 0 auto;
    max-width: 720px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: inherit;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

@media (min-width: 768px) {
  .project-list {
    margin-top: -25px;
    margin-bottom: 35px;
  }

  .project {
    flex-basis: 33.33%;
  }
}
