/* http://colloquet.github.io */

$color-main: #3a4b60;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #333;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h4, h5, h6 {
  font-family: inherit;
}

[v-cloak] {
  display: none;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.name {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 200;
}

a {
  color: #0088cc;
}

.job-title {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #888;
  margin-bottom: 15px;
}

.uk-overlay {
  box-shadow: 0 1px 4px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: box-shadow 0.2s ease;

  span {
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &:not(.is-open):hover {
    box-shadow: 0 5px 11px rgba(193, 193, 193, 0.6);

    span {
      opacity: 1;
    }
  }
}

.uk-overlay-panel {
  background: rgba(255,255,255,0.8);
  padding: 10px 10px 10px;
  color: #222;

  h3 {
    font-weight: 300;
  }
}

hr {
  width: 30px;
  border-color: #444;
}

.project-list {
  margin-top: -25px;
  margin-bottom: 25px;
}

.project {
  display: block;
  position: relative;
  flex: 1;
  flex-basis: 50%;
  margin: 10px;
}

.project-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

#fullscreen-project-overlay {
  position: fixed;
  background: $color-main;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #f3f3f3;
  z-index: 9;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 35px;
    width: 100%;
    z-index: 1;
  }

  &.project-cx {
    &:after {
      background: linear-gradient(to top, #006564, rgba(#006564, 0));
    }
  }

  &.project-cooltech {
    &:after {
      background: linear-gradient(to top, #414d5c, rgba(#414d5c, 0));
    }
  }

  &.project-openport {
    &:after {
      background: linear-gradient(to top, #3a4b60, rgba(#3a4b60, 0));
    }
  }

  &.project-quantifeed {
    background-color: #f5f9f9;
    color: #0c1847;

    &:after {
      background: linear-gradient(to top, #f5f9f9, rgba(#f5f9f9, 0));
    }

    a {
      color: #e54b30;
    }

    svg > g > g {
      stroke: #0c1847;
    }
  }

  &.project-onactivity {
    &:after {
      background: linear-gradient(to top, #2c3657, rgba(#2c3657, 0));
    }
  }

  &.project-sterling {
    color: #33394b;

    &:after {
      background: linear-gradient(to top, #fff, rgba(#fff, 0));
    }

    a {
      color: #fc5455;
    }

    svg > g > g {
      stroke: #fc5455;
    }
  }

  &.project-jachin-capital {
    color: #23273c;

    &:after {
      background: linear-gradient(to top, #dfe6ea, rgba(#dfe6ea, 0));
    }

    a {
      color: #23273c;
    }

    svg > g > g {
      stroke: #23273c;
    }
  }

  &.project-theedge {
    &:after {
      background: linear-gradient(to top, #e31e26, rgba(#e31e26, 0));
    }
  }

  &.project-bigbloom {
    color: #000;

    &:after {
      background: linear-gradient(to top, #fff, rgba(#fff, 0));
    }

    a {
      color: #e9175a;
    }

    svg > g > g {
      stroke: #e9175a;
    }
  }

  &.project-vue-memory-game,
  &.project-react-unsplash-client {
    color: #000;

    &:after {
      background: linear-gradient(to top, #fff, rgba(#fff, 0));
    }

    a {
      color: #000;
    }

    svg > g > g {
      stroke: #000;
    }
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;

    @media (max-width: 768px) {
      position: fixed;
      top: auto;
      bottom: 20px;
      right: 20px;
      background: #fff;
      border-radius: 50%;
      padding: 10px;
      z-index: 2;
      box-shadow: 2px 2px 8px rgba(0,0,0,0.6);

      svg {
        display: block;
        width: 40px;
        height: 40px;

        > g > g {
          stroke: $color-main;
        }
      }
    }
  }

  .overflow-container {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }

  .project-details-container {
    box-sizing: border-box;
    padding: 100px 25px 25px;
    margin: 0 auto;
    max-width: 768px;

    @media (max-width: 768px) {
      padding: 25px 25px 100px;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: inherit;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

@media (min-width: 768px) {
  .project-list {
    margin-top: -25px;
    margin-bottom: 35px;
  }

  .project {
    flex-basis: 33.33%;
  }
}
