@import url(http://fonts.googleapis.com/css?family=Dosis:300,400);

.navbar {
  background: #655643;  
  border-bottom: 5px solid #4B4032 !important;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  color: #fff;
  opacity: 0.7;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover {
  color: #fff;
  opacity: 1;
}

.navbar-toggle {
  border: none;
}

.navbar-inverse .navbar-toggle:hover {
  background-color: transparent !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: transparent !important;
  font-weight: 400;
  opacity: 1;
}

.navbar-inverse .navbar-nav>.active>a::after {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #655643;
  bottom: -10px;
  content: "";
  height: 15px;
  left: 62.7%;
  margin-left: -15px;
  position: absolute;
  width: 15px;
  z-index: 3;
  border-bottom: 4px solid #4B4032;
  border-right: 4px solid #4B4032;
}
.caption h3 {
  text-align: center;
}

.caption p {
  font-style: italic;
}

.jumbotron {
  background-color: #80BCA3;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
  border-bottom: 5px solid #6FA28D !important;
}

.jumbotron h1 {
  text-shadow: rgb(20, 145, 121) 1px 1px,
    rgb(20, 147, 122) 2px 2px,
    rgb(20, 148, 123) 3px 3px,
    rgb(20, 150, 125) 4px 4px,
    rgb(21, 152, 126) 5px 5px,
    rgb(21, 153, 127) 6px 6px,
    rgb(21, 155, 129) 7px 7px,
    rgb(21, 156, 130) 8px 8px,
    rgb(21, 158, 131) 9px 9px,
    rgb(22, 160, 133) 10px 10px;
}

h1, h2, h3, h4{
  font-weight: 400;
}

.navbar-inverse .navbar-brand {
  font-weight: 400;
  font-family: 'Dosis', sans-serif;
}

.contact {
  background-color: #E6AC27;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #000;
  border-bottom: 5px solid #CC9923 !important;
}
.portfolio {
  background-color: #F6F7BD;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #222;
  border-bottom: 5px solid #DDDDA9 !important;
}
.footer {
  text-align: center;
  color: gray;
  background-color: #BF4D28;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 66px;
}

.footer a {
  padding: 0 5px;
}
.footer .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: white;
}
html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}
body {
  padding-top: 50px;
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
  /*margin: 0;*/
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  /*position: relative;*/
  margin-bottom: 65px;
  /*height: 100%;*/
}


a {
  font-weight: 400;
  color: #BF4D28;
  text-decoration:none;
  outline: none;
  opacity: 1;
}
a:hover {
  color: #BF4D28;
  text-decoration:none;
  opacity: 0.7;
}
a:focus {
  outline: none;
}

a.btn:hover {
  opacity: 1;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #222;
  margin: 1em 0;
  padding: 0;
  margin:30px 0;
}

strong {
  font-weight: 400;
}


.projectimg {
  height: 250px;
}

.img-wrapper {
  width: 100%;
  text-align: center;
}
.img-centre{
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .navbar-inverse .navbar-nav>.active>a::after {
    display: none;
  }
  .jumbotron, .portfolio, .contact {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 480px) {
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
}