.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.navbar {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  z-index: 999999999;
}
.navbar.stuck {
  background-color: #fff;
  position: fixed;
  display: block;
  top: 0;
  z-index: 99999999;
  width: 100%;
  border-bottom: 0;
  box-shadow: #eee 0 4px 0;
}
.navbar.stuck a, .navbar.stuck a:hover{
  color: #555;
}
.navitem, .navitem1 {
  display: inline-block;
  position: relative;
}
.navitem {
  float: left;
  margin-right: 20px;
}
.navitem1 {
  float: right;
  margin-left: 20px;
}

.navitem a, .navitem1 a, .muted {
  font-size: 18px;
  color: rgba(255,255,255,0.87);
}

.navitem a, .navitem1 a {
  opacity: 0.7;
}

.navitem a:hover, .navitem1 a:hover {
  color: rgba(255,255,255,0.87); 
  text-decoration: none;
  opacity: 1;
}

.title {
  position: relative;
  display: block;
  background-color: #3f51b5;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-image: url('/img/bg1.jpg');
  height: 550px;
  background-size: 100%;
}

.title h1 {
  font-size: 4em;
  padding-top: 20px;
  color: #fff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.title p {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.portfolio, .contact {
  position: relative;
  display: block;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.resume, .aboutme {
  position: relative;
  display: block;
  background-color: #fafafa;
  margin-left: auto;
  margin-right: auto;
}
.aboutme p {
  color: rgba(80, 80, 80, 0.87);
}
.footer {
  position: relative;
  text-align: center;
  color: gray;
  background-color: #fff;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: block;
  width: 990px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  
}

.content {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

html { 
  background: #fff;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body { 
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  color: rgba(80, 80, 80, 0.87);
}

h1, h2 { 
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 50px;
}

h1, h2, h3 { 
  font-weight: 300;
  color: rgba(40, 40, 40, 0.87);
}
p, li, blockquote, label{
  font-weight: 300;
  color: rgba(80, 80, 80, 0.87);
}
a { 
  color: #3cbce1;
  text-decoration:none;
  outline: none;
}
a:hover { 
  /*color: #81d4fa;*/
  opacity: 0.7;
}
table, td, tr {
  font-size: 14px;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
}

br {
  clear: left;
}

.pull-right {
  float: right;
  margin-left: 80px;
}

.pull-left {
  float: none;
  margin-right: 20px;
}

hr { 
  display: block; 
  height: 1px;
  border: 0; 
  border-top: 1px solid #e6e6e6;
  margin: 1em 0; 
  padding: 0; 
  margin:30px 0; 
}

.profilepic {
  border-radius: 75px;
  margin-bottom: 20px;
  box-shadow: #ddd 4px 4px 0;
}
ul, li {
  padding-left: 0px;
  list-style: none;
}

strong {
  font-weight: 400;
}

.screen {
  display: inline-block;
  float: left;
  width: 450px;
}

.description {
  display: inline-block;
  float: right;
  width: 400px;
}

.width {
  width: 150px;
}

.projectimg {
  height: 250px;
}

#m-res, #m-port, #m-sidebar, #sidebar-btn, #top-btn {
  display: none;
}
#m-con {
  display: block;
}
.img-wrapper {
  width: 100%;
  text-align: center;
}
.img-centre{
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.loading-overlay {
  display: table;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
  visibility: visible;
  transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  
}
.loading {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #666;
  font-size: 2em;
}
#contact_form {
  max-width: 500px;
  margin: 0 auto;
}
#contact_form input, #contact_form textarea {
  padding: 9px;
}
#contact_form textarea {
  height: 10em !important;
}
@media screen and (max-width: 768px) {
  .title {
    background-size: auto 100%;
    height: 500px;
  }
}
@media screen and (max-width: 990px) {

  .title {
    height: 500px;
  }

  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .screen {
    text-align: center;
    display: block;
    width: 100%;
    float: none;
  }

  .description {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    width: 100%;
  }

  .pull-left {
    float: none;
    margin-right: 0px;
    margin-left: 0px;
  }

  .pull-right {
    margin-left: 20px;
  }

  #parallaxContainer img {
    width: auto;
    height: 500px;
  }
}
