<div class="footer clearfix" style="background-color:#fbfbfb;">
        <div class="container">
        <hr/>
        &copy; Colloque Tsui 2014<br/><br/>
		<a href="https://www.linkedin.com/pub/colloque-tsui/39/855/832" target="top"><i class="fa fa-linkedin-square fa-fw fa-lg" style="color:#007bb6;"></i></a>
		<a href="https://www.facebook.com/colloque" target="top"><i class="fa fa-facebook-square fa-fw fa-lg" style="color:#3b5998;"></i></a>
		<a href="https://twitter.com/colloquet" target="top"><i class="fa fa-twitter-square fa-fw fa-lg" style="color:#00aced;"></i></a>
        <br/><br/><br/><br/>
        </div>
      </div>