<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="title" content="Colloque Tsui | Web design" />
    <meta name="author" content="Colloque Tsui"/>
	<meta name="keywords" content="Colloque Tsui, HTML, CSS, Web design, Web developer, Hong Kong, Fresh graduate, IT, Accounting and Finance"/>
	<meta name="description" content="This is Colloque Tsui's blog. He will be sharing what he learnt from web design here."/>
	<meta name="msvalidate.01" content="00109AC3B0C479B5E31744AE0C80AAA7" />
    <title>{% if page.title %}{{ page.title }}{% else %}Colloque Tsui | Blog{% endif %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>	
	<link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>	
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet prefetch' type='text/css'>
	<style type="text/css">
    body {
        padding-top: 0;
    }
	.navbar-inverse .navbar-nav>.active>a::after {
      background: #fff;
      bottom: -13px;
      border-bottom: 4px solid #fff;
      border-right: 4px solid #fff;
    }
    .navbar-fixed-top {
        position: relative;
    }
    .pagination {
        width: 200px;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
	</style>
</head>
