<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="Colloque Tsui"/>
	<meta name="keywords" content="Colloque Tsui, HTML, CSS, Web design, Web developer, Hong Kong, Fresh graduate, IT, Accounting and Finance"/>
	<meta name="description" content="Hello, I am someone who is excited and passionate about web designing. I am currently doing Master in IT at University of Aberdeen, Scotland."/>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
	<link rel="stylesheet" type="text/css" href="/jquery-ui-1.10.4.custom.css"/>
	<link rel="stylesheet" href="/jquery.mobile-1.4.2.css"/>
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"/>
	<link media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="/mobile.css" type="text/css" rel="stylesheet" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>	
	<style type="text/css">
		html {
			background-color: #f9f9f9;
		}
		.navitem a, .navitem1 a {
		  font-size: 22px;
		  color: #777;
		}

		.navitem a:hover, .navitem1 a:hover {
		  color: #000;
		  text-decoration: none;
		}
	</style>
</head>
