//linguistics

@import "bourbon/bourbon";
@import "common";

$heading-font: 'Museo Slab';
$text-font: 'Museo Sans';
$anchor-font: 'Montserrat';
$logo-font: 'Brandon Grotesque';

$base-color: #3a2e37;
$lighter-base-color: #665362;
$accent-color: #ffdc12;
$anchor-color: #ffdc12;
$button-color: #ffdc12;
$button-hover-color: #eac115;
$button-shadow-color: #b79713;
$text-color: #fff;
$heading-color: #ffdc12;
$muted-color: #8C8189;

$base-font-size: 14px;

html {
	border-top: 4px solid $accent-color;
	font-size: $base-font-size;
	color: $text-color;
	line-height: 1.5;
}
body {
	background-color: $base-color;
}
.container {
	max-width: 1100px;
	margin: 0 auto;
}
h1, h2, h3 {
	font-family: $heading-font;
	font-weight: 500;
}
h1 {
	font-size: remify(30px);
	color: $heading-color;
}
h2 {
	font-size: remify(22px);
	color: $text-color;
}
h3 {
	font-size: remify(18px);
	color: $accent-color;
}
p {
	font-family: $text-font;
	font-weight: 300;
	color: $text-color;
}
a {
	font-family: $anchor-font;
	color: $anchor-color;
	text-decoration: none;
	&:hover {
		border-bottom: 1px solid;
	}
}
img {
	max-width: 100%;
	height: auto;
}
hr { 
	display: block; 
	height: 2px;
    border: 0; 
    border-top: 2px solid $lighter-base-color;
    margin: 40px 0; 
    padding: 0; 
}
.btn {
	@include transition(background-color .1s ease-out);
	display: inline-block;
	background-color: $accent-color;
	padding: 5px;
	border-bottom: 2px solid $button-shadow-color;
	min-width: 130px;
	font-size: remify(12px);
	font-weight: bold;
	color: $base-color;
	text-align: center;
	text-transform: uppercase;
	&:hover {
		background-color: $button-hover-color;
		border-bottom: 2px solid $button-shadow-color;
		text-decoration: none;
	}
	&:active {
		margin-top: 2px;
		border-bottom: 0;
	}
}
.header {
	padding-bottom: 50px;

	.toolbar-l {
		padding-top: 10px;
	}
	.logo-link {
		font-family: $logo-font;
		font-weight: 100;
		color: $text-color;
	}
	.toolbar-r {
		text-align: right;
		a:not(.btn) {
			font-family: $text-font;
			font-size: remify(12px);
			font-weight: 100;
		}
		.btn {
			font-size: remify(12px);
			width: 220px;
			&:active {
				margin-top: 0;
				border-bottom: 2px solid $button-shadow-color;
			}
		}
	}
	#logo {
		margin: 0;
		font-family: $logo-font;
		font-weight: 100;
		font-size: remify(24px);
	}
}
.navbar {
	.level1 {
		margin-left: -15px;
		padding: 0;
		list-style: none;
		.nav-parents {
			display: inline-block;
			position: relative;
			padding: 10px 15px;
			&:hover {
				background-color: $accent-color;
				> a {
					border-bottom: 2px solid;
				}
				a {
					color: $base-color;
				}
				.nav-dropdown {
					display: block;
					z-index: 10;
					a {
						font-family: $heading-font;
					}
				}
			}
			> a {
				border-bottom-width: 2px;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
	.nav-dropdown {
		display: none;
		position: absolute;
		background-color: $accent-color;
		padding: 20px;
		top: 38px;
		left: 0;
		list-style: none;
		li {
			white-space: nowrap;
		}
	}
}
.hero {
	background-image: url('http://placehold.it/1280x320&text=HERO+IMAGE');
	background-size: cover;
	background-position: center;
	width: 100%;
	min-height: 320px;
	h1 {
		color: $base-color;
		font-size: remify(24px);
		font-weight: 500;
	}
	a {
		border-bottom: 2px solid $base-color;
		color: $base-color;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.container {
		padding-top: 30px;
	}
	.story {
		@include animation(fadeInUp 1s ease-out forwards);
		@include animation-delay(1s);
		position: relative;
		background-color: #fff;
		padding: 20px;
		max-width: 200px;
		border-radius: 10px;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
		opacity: 0;
		&:after {
			// content: "";
			position: absolute;
			background: #fff;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			top: 100%;
			left: 50%;
			transform: translate(-50%, -60%);
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
		}
		svg {
			@include transform(translateX(-50%));
			-webkit-filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.15));
			position: absolute;
			fill: #fff;
			width: 40px;
			height: 13px;
			top: 100%;
			left: 50%;
		}
	}
	.story-from {
		position: absolute;
		padding-top: 20px;
		top: 100%;
		width: 160px;
		font-family: $heading-font;
		font-size: 14px;
		text-align: right;
	}
}
.intro {
	max-width: 840px;
	margin: 0 auto;
	padding: 40px 0 80px;
	text-align: center;
}
.intro-description {
	padding: 0 40px;
	p {
		font-size: remify(18px);
	}
}
.intro-slider {
	background-color: $lighter-base-color;
	padding: 5px;
	line-height: 0;
	.slider-description {
		position: relative;
		padding: 0 10px;
		line-height: 1.5;
		h3 {
			font-weight: 900;
		}
		p {
			font-family: $heading-font;
		}
	}
	.slider-control {
		position: absolute;
		right: 10px;
		top: 0;
		font-size: remify(12px);
		.next-btn {
			background-color: #fff;
			padding: 2px 8px;
			border-radius: 15px;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
			color: $base-color;
		}
	}
}

.seminars-wrapper {
	padding-bottom: 100px;
	.seminars-description {
		text-align: right;
		p {
			font-size: remify(18px);
		}
	}
	.seminar {
		@include transition(border-color .3s ease-out);
		position: relative;
		background-color: #fff;
		background-image: url('http://placehold.it/200x300&text=Poster');
		background-size: cover;
		background-position: center;
		border: 5px solid #fff;
		min-height: 300px;
		&:hover {
			border-color: $accent-color;
			.seminar-overlay, .seminar-title {
				@include transform(translateY(0));
				opacity: 1;
			}
			.seminar-details {
				background-color: $accent-color;
			}
		}
	}
	.seminar-overlay {
		@include transition(opacity .3s ease-out);
		position: absolute;
		padding: 5px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		background-color: rgba(0,0,0,.6);
	}
	.seminar-title {
		@include transition(all .3s ease-out);
		@include transform(translateY(20px));
		position: absolute;
		bottom: 100%;
		opacity: 0;
	}
	.seminar-details {
		@include transition(background-color .3s ease-out);
		position: absolute;
		background-color: #fff;
		padding: 5px;
		width: 100%;
		bottom: 0;
	}
	.seminar-time, .seminar-location {
		font-family: $heading-font;
		color: $base-color;
	}
	.seminar-time {
		font-weight: 900;
	}
	.seminar-location {
		font-weight: 500;
	}
}

.footer-bar {
	background-color: $lighter-base-color;
	.footer-cat {
		vertical-align: bottom;
		h3 {
			padding: 0 5px;
			margin: 10px 0;
		}
	}
}
.footer-links {
	list-style: none;
	padding: 0 5px;
	line-height: 2;
}
.muted {
	color: $muted-color;
	font-size: remify(12px);
}

@include keyframes(fadeInUp) {
	from {
		@include transform(translateY(20px));
		opacity: 0;
	}
	to {
		@include transform(translateY(0));
		opacity: 1;
	}
}