<div class="footer">
	<div class="container">
		<a href="https://www.linkedin.com/pub/colloque-tsui/39/855/832" target="top"><i class="fa fa-linkedin-square fa-fw fa-lg"></i></a>&nbsp;
		<a href="https://www.facebook.com/colloque" target="top"><i class="fa fa-facebook-square fa-fw fa-lg"></i></a>&nbsp;
		<a href="https://twitter.com/colloquet" target="top"><i class="fa fa-twitter-square fa-fw fa-lg"></i></a>&nbsp;
        <a href="http://instagram.com/colloque" target="top"><i class="fa fa-instagram fa-fw fa-lg"></i></a>&nbsp;
        <a href="https://plus.google.com/+ColloqueTsui/" target="top"><i class="fa fa-google-plus-square fa-fw fa-lg"></i></a>
	</div>
</div>