.uk-container {
  max-width: 960px;
}

.image-container .LazyLoad {
  position: absolute;
  height: 100%;
  width: 100%;
}

.user-link .LazyLoad {
  display: inline-block;
}

.image-container {
  position: relative;
  background: #eee;
}

.image-container img {
  position: absolute;
  width: 100%;
}

@media (max-width: 767px) {
  .photo-header-container,
  .photo-footer-container {
    margin-left: -15px;
    margin-right: -15px;
  }

  .photo-responsive-container {
    margin-left: -25px;
    margin-right: -25px;
  }
}
